<html>
<head>
  <title>Modpool Application</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h3>Welcome to the Modpool App!</h3>
  Before using this app, please make sure connect to Quickbooks:
  
  <br /><br /><br />

  <!-- Connect To QuickBooks Button -->
  <b>Connect To QuickBooks</b><br />
  <a class="imgLink" href="#" onclick="launchPopup('/createEstimate/connect_to_quickbooks')">
    <img
      style="height: 40px"
      src="C2QB_white_btn_lg_default.png"
      onmouseover="this.src='C2QB_white_btn_lg_hover.png'"
      onmouseout="this.src='C2QB_white_btn_lg_default.png'"
    />
  </a>
  <br /><br /><br />

<script>
  function launchPopup(path) {
    var win;
    var checkConnect;
    var parameters = "location=1,width=800,height=650";
    parameters += ",left=" + (screen.width - 800) / 2 + ",top=" + (screen.height - 650) / 2;

    // Launch Popup
    win = window.open(path, 'connectPopup', parameters);
  }
</script>

</body>
</html>